<div class="jumbotron jumbotron-fluid body-container">
  <div class="container">
    <h1 class="display-4 text-title-large text-info">PelisApp</h1>
    <small class="lead text-info ml-3">Información sobre peliculas.</small>
  </div>
</div>


<!--   <div class="row">
    <div class="col"> -->
      <h2 class="text-title text-white">Peliculas en cartelera</h2>
      <hr>

      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <app-card-image [peliculas]="peliculasEnCartelera"></app-card-image>
        </table>
      </div>



  <!--   </div>
  </div> -->



<div class="row mt-5 mb-5">
  <div class="col">
    <h2 class="mt-4" class="text-title text-white">Peliculas populares</h2>
    <hr>

    <app-card-image [peliculas]="peliculasPopulares"></app-card-image>
  </div>
</div>



